.header{
    background: linear-gradient(45deg, #0084bf, #0c8996);
    padding: 1rem;
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
}
.header .header-img{
    justify-self: center;
    object-fit: cover;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.header .header-title{
    justify-self: center;
    color: #fff;
    font-size: calc(38px + 1vw);
    margin: 0;
}