.home-container{
    padding: 1rem;
}
.home-container h3{
    text-align: center;
}
.home-container .risk-options-spans{
    display: flex;
    justify-content: space-between;
}
.home-container .risk-options-container{
    position: relative;
}
.home-container .risk-options-container ul{
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-gap: 5px;
}
.home-container .risk-options-container ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 62px;
    border: 3px solid gray;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
}
.home-container .risk-options-container a{
    position: absolute;
    padding: 1.03rem 1.2rem;
    border: 3px solid gray;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    top: 0;
    right: -130px;
    color: black;
    background-color: #73d0ff;
}